{% extends "layout.html" %}

{% block content %}
<h2>Videos</h2>
{% for video in videos %}
<li><a href="{{ url_for('watch', video_id=video.id) }}">{{ video.title }}</a></li>
{% endfor %}
{% endblock %}