<a href="{{ url_for('home') }}">Home</a> |
<div class="pull-right">
    {% if current_user.is_authenticated %}
        <a href="#">{{ current_user.email }}</a> |
        <a href="{{ url_for('security.logout') }}">Logout</a> |
    {% else %}
        <a href="{{ url_for('security.login') }}">Login</a> |
    {% endif %}
</div>